@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0; 
    padding-top: 6rem; /* Add padding equal to the height of the header */
    height: 100vh;  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--bg-color);
    color: var(--text-bg);
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --text-bg: #e7f1f0;
    --bg-color: #23242a;
    --primary: #526D82;
    --secondary: #35374B;
    --accent: #B9B4C7;
}

.header-bar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.25rem 0.625rem;
    z-index: 1000;
    overflow: hidden;
    background: var(--bg-color);
}

.header-bar .header-logo, .header-bar .header-right {
    margin: 0.625rem;
}

.header-bar .header-logo {
    display: flex;
    align-items: center;
}

.header-bar .header-logo img {
    width: 20vh;
    height: 20vh;
    margin: 0.625rem;
}

.header-bar .header-logo h1 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header-bar .header-right {
    padding: 0.625rem;
    letter-spacing: 0.2ch;
}

.header-bar .header-right a {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: var(--text-bg);
    text-decoration: none;
    margin: 0 1.875rem;
    font-weight: bold;
    font-size: 2rem;
}   

.header-bar .header-right a:hover{
    text-shadow: 0px 0px 0.2rem white;
}

.index-title{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    margin: 3.125rem auto;
    text-align: center;
}

.index-title h1{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3.438rem;
    letter-spacing: 0.125rem;
    text-shadow: 0px 0px 1.875rem white;
    margin-bottom: 1.25rem;
}

.index-title h3{
    position: relative;
    font-size: 1.25rem;
    letter-spacing: 0.063rem;
}

.index-title h4{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.063rem;
    position: relative;
}

.index-section-1 {
    margin: 1.25rem auto;
    padding: 1.25rem;
    width: 100%;
    box-sizing: border-box; /* Includes padding and border in width calculation */
    border-bottom: none;
    border-top: 0.188rem solid white;
    border-left: none;
    border-right: none;
}

.index-section-1 .section-text{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.875rem;
    font-style: normal;
    display: flex;
    width: 100%;
    margin: 0.625rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.125rem;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 35s linear infinite;
}

@keyframes move{
    to {
        background-position: 4500vh;
    }
}

.index-cont-1 {
    background-color: rgba(146, 135, 236, 0.4);
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
    display: grid;
    margin: 1.25rem;
    padding: 30px 0.313rem;
    width: 60vh;
    height: 50vh;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    border: white;
    border-style: solid;
    border-width: 0.125rem;
    border-radius: 20px;
    box-shadow: 0px 0px 0.625rem white;
    transition: 0.4s;
    cursor: default;
    text-shadow: 0px 0px 0.313rem black;
}

.index-cont-1::before {
    content: ""; /* Creates an empty pseudo-element */
    position: absolute; /* Position it absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/images.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust opacity of the background image */
    z-index: -1; /* Ensure it is behind the content */
    transition: 0.2s ease;
}

.index-cont-1:hover::before {
    transform: scale(1.1); /* Scale up the background image */
}

.index-cont-1:hover {
    box-shadow: 0px 0px 1.25rem white;
}

.containers-cont {
    display: flex;
    flex-wrap: wrap; /* Wrap items if needed */
}


.index-cont-1:hover h2, .index-cont-1:hover .cont-text p{
    color: #e8e6fb;
    transition: 0.2s;
    transform: scale(1.1);
}

.index-cont-1:hover img{
    transition: 0.2s;
    transform: scale(1.1);
}

.index-cont-1 h2{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    color: var(--text-bg);
    text-align: center;
}

.index-cont-1 .cont-text{
    width: 40vh;
    margin-bottom: 0.938rem;
}

.index-cont-1 .cont-text p{
    color: var(--accent);
    text-align: center;
    font-size:  1.2rem;
    text-align: justify;
}

.index-cont-1 img{
    width: 15.625rem;
    height: 15.625rem;
    margin: 0.625rem;
}

.button{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0.625rem;
}

.button-confetti{
    background: white;
    border-radius: 0.125rem;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 0.625rem white;    
}

footer{
    display: grid;
    justify-content: center;
    align-items: center;
    border-top: white 0.063rem solid;
}

footer img{
    width: 6.25rem;
    height: 6.25rem;
}   

.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 1.25rem;
}

.footer-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-icon h4{
    font-size: 1.5rem;
    margin-left: 1.25rem;
    letter-spacing: 0.125rem;
    font-weight: bold;
}

footer .social {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center; /* Center items horizontally */
    justify-content: center;
    padding: 0px 1.25rem 0px 0px;
}

footer .social-item {
    display: flex;
    align-items: center;
    padding: 0.625rem;
}

.social-item a{
    text-decoration: none;
    color: var(--text-bg);
    font-size: 0.938rem;
    text-shadow: 0px 0px 0.125rem white;
}

.twitter-icon{
    width: 3.125rem;
    height: 3.125rem;
    background-image: url(img/twitter.png);
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.twitter-icon:hover {
    background-image: url('img/twitter-hover.png'); /* Change image on hover */
}

.youtube-icon{
    width: 6.25rem;
    height: 6.25rem;
    background-image: url(img/youtube.png);
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.youtube-icon:hover {
    background-image: url('img/youtube-hover.png'); /* Change image on hover */
}

.github-icon{
    width: 4.375rem;
    height: 4.375rem;
    background-image: url(img/github.png);
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.github-icon:hover {
    background-image: url('img/github-hover.png'); /* Change image on hover */
}

@media screen and (max-width: 56rem) {
    .header-bar .header-right a {
        display: flex;
        flex-direction: column;
        margin: 0.625rem;
        padding: 0.625rem;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
    }

    .header-bar .header-right a:hover{
        transform: scale(1.2);
        text-shadow: 0px 0px 0.625rem white;
        background-color: var(--primary);
        border-radius: 0.313rem;
    }
    
    .header-bar{
        display: flex;
        flex-direction: column;
        height: 70vh;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    body {
        padding-top: 0;
    }

    .index-title h1{
        font-size: 2.5rem;
    }
}

.faq-sec{
    min-height:100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    border: 2px white solid;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
}

.faq-title{
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
}

.faq-title h1{
    text-shadow: 0px 0px 0.125rem white;
}

.faq{
    width: 80%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    cursor: pointer;
    margin-bottom: 2rem;
}

.faq .questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2ch;
}

.faq .questions h3{
    font-size: 2.2rem;
    letter-spacing: 0.2ch;
}

.faq .answer{
    margin-left: 2ch;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in;
}

.faq.active .answer{
    max-height: 300px;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

.faq .answer p{
    font-size: 1.4rem;
    line-height: 2.4ch;
}

